#music-widget {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 150px;
    background: #000000;
    border-radius: 14px;
    border: 3px solid var(--widget-border);
    overflow: hidden;
    z-index: 8;
}
