#music-widget {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 150px;
    background: #000000;
    border-radius: 14px;
    border: 8px solid var(--accent);
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    z-index: 8;
}
