/* ≧□≦ BOTONCITO */

.widget-mini {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 90px;
    height: 90px;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--widget-bg);
    border: 2px solid var(--widget-border);
    border-radius: 14px;
    text-align: center;
}

.widget-mini p {
    margin: 0;
    line-height: 1.1;
}
