.widget-mini {
    position: relative;
    width: 80px;
    height: 80px;
    padding: 4px;
    display: grid;
    place-items: center;
    background: 6px solid var(--accent);
    background-color: var(--widget-bg);
    border: 6px solid var(--widget-border);
    color: rgb(255, 169, 169);
}