/* colores y movimiento */

:root {
    --bg: #fdf6f0;
    --text: #523b3b;
    --text2: #526941;
    --accent: #e4a5b4;
    --widget-bg: #fff1e6;
    --widget-border: #f5c7aa;
}

body.dark {
    --bg: #1e1a1d;
    --text: #f3d8d8;
    --text2: #b3d4c3;
    --accent: #c47b97;
    --widget-bg: #2a2428;
    --widget-border: #3f3138;
}

@keyframes levitar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-15px) rotate(6deg);
    }
}

/* -------------------- */

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 25px;
    background: var(--accent);
    color: var(--text2);
    position: sticky;
    top: 0;
}

.cambiar-tema {
    cursor: pointer;
    font-size: 20px;
    background: none;
    border: none;
    text-shadow: 2px 2px 3px var(--text2);
    animation: levitar 4s ease-in-out infinite alternate;
}

/* --------------- */

.desktop {
    flex: 1;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.widget {
    background: var(--widget-bg);
    border: 1px solid var(--widget-border);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 4px #0001;
}