/* colores y movimiento */

:root {
    --bg: #fdf6f0;
    --text: #523b3b;
    --text2: #694141;
    --accent: #e4a5b4;
    --widget-bg: #fff1e6;
    --widget-border: #f5c7aa;
    --darker: #a17559;
    --sweeter: 
}

body.dark {
    --bg: #1e1a1d;
    --text: #f3d8d8;
    --text2: #e6e4bf;
    --accent: #c47b97;
    --widget-bg: #2a2428;
    --widget-border: #3f3138;
    --darker: #21191d;
}

@keyframes levitar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-15px) rotate(6deg);
    }
}

/* -------------------- */

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
    font-family: 'Bagel fat one';
    font-weight: normal;
    letter-spacing: 2px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 25px;
    background: var(--accent);
    color: var(--text2);
    position: sticky;
    top: 0;
}

/* --------------- */

.desktop {
    flex: 1;
    position: relative;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}

.widget {
    background: var(--widget-bg);
    border: 1px solid var(--widget-border);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 2px 4px #0001;
}

/* ------------------- */

.cont-bienvenida {
    display: flex;
    align-items: center;
    gap: 6px;
}

#gif-bienvenida {
    height: 60px;
    width: 80px;
    object-fit: contain;
}